{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <strong>AboutPage</strong>
{% endblock %}
    

{% block body_block %}
    <h1>Rango says:</h1>
    <div>
		<a href="/rango/about/">想撸猫吗？</a><br />
		<img src="{{MEDIA_URL}}cat.jpg"
			 alt="CAT" /> <!--New line--> 
    </div>
    <div>
        <a href="/rango/">CLICK HERE FOR HOMEPAGE</a>
    </div>
    <div>
        <br>
        <br>
        <br>
        <br>
        <strong>{{aboutmessage}}</strong> <br />

    </div>
    <div>
        This tutorial has been put together by Jared Zhao. <br />
    </div>

{% endblock %}