{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <strong>RegisterPage</strong>
{% endblock %}

{% block body_block %}
    <h1>Register for Rango</h1>

    {% if registered %}
        Rango says: <br>
        <strong>thanks for registering!</strong>
        <a href="{% url 'rango:index' %}">Click here to homepage.</a><br/>
    {% else %}
        Rango says: <br>
        <strong>register here!</strong><br/>

        <form id="user_form" method="post" action="{% url 'rango:register' %}"
            enctype="multipart/form-data">

        {% csrf_token %}
        <!-- Display each form -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register"/>
    </form>
    {% endif %}
{% endblock %}
